USE [master]
GO
/****** Object:  Database [PPAI]    Script Date: 2/6/2024 19:14:53 ******/
CREATE DATABASE [PPAI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PPAI', FILENAME = N'D:\SQL2019\MSSQL15.SQLEXPRESS\MSSQL\DATA\PPAI.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PPAI_log', FILENAME = N'D:\SQL2019\MSSQL15.SQLEXPRESS\MSSQL\DATA\PPAI_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PPAI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PPAI]
GO
/****** Object:  Table [dbo].[Bodega]    Script Date: 2/6/2024 19:14:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bodega](
	[id] [int] NOT NULL,
	[coordenadasUbicacion] [varchar](255) NOT NULL,
	[descripcion] [varchar](255) NOT NULL,
	[fechaUltimaActualizacion] [datetime] NOT NULL,
	[historia] [varchar](255) NOT NULL,
	[nombre] [varchar](255) NOT NULL,
	[periodoActualizacion] [int] NOT NULL,
 CONSTRAINT [bodega_id_primary] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enofilo]    Script Date: 2/6/2024 19:14:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enofilo](
	[id] [int] NOT NULL,
	[apellido] [varchar](255) NOT NULL,
	[imagenPerfil] [varchar](255) NOT NULL,
	[nombre] [varchar](255) NOT NULL,
	[favorito] [int] NOT NULL,
	[usuario] [int] NOT NULL,
 CONSTRAINT [enofilo_id_primary] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Maridaje]    Script Date: 2/6/2024 19:14:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Maridaje](
	[id] [int] NOT NULL,
	[descripcion] [varchar](255) NOT NULL,
	[nombre] [varchar](255) NOT NULL,
 CONSTRAINT [maridaje_id_primary] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoUva]    Script Date: 2/6/2024 19:14:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoUva](
	[id] [int] NOT NULL,
	[descripcion] [varchar](255) NOT NULL,
	[nombre] [varchar](255) NOT NULL,
 CONSTRAINT [tipouva_id_primary] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 2/6/2024 19:14:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id] [int] NOT NULL,
	[nombre] [varchar](255) NOT NULL,
	[premium] [bit] NOT NULL,
 CONSTRAINT [usuario_id_primary] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Varietal]    Script Date: 2/6/2024 19:14:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Varietal](
	[id] [int] NOT NULL,
	[descripcion] [varchar](255) NOT NULL,
	[porcentajeComposicion] [float] NOT NULL,
	[tipoUva] [int] NOT NULL,
 CONSTRAINT [varietal_id_primary] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vino]    Script Date: 2/6/2024 19:14:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vino](
	[id] [int] NOT NULL,
	[anada] [int] NOT NULL,
	[fechaActualizacion] [datetime] NOT NULL,
	[nombre] [varchar](255) NOT NULL,
	[notaDeCataBodega] [varchar](255) NOT NULL,
	[precioARS] [float] NOT NULL,
	[bodega] [int] NOT NULL,
	[maridaje] [int] NOT NULL,
	[varietal] [int] NOT NULL,
 CONSTRAINT [vino_id_primary] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Enofilo]  WITH CHECK ADD  CONSTRAINT [enofilo_favorito_foreign] FOREIGN KEY([favorito])
REFERENCES [dbo].[Vino] ([id])
GO
ALTER TABLE [dbo].[Enofilo] CHECK CONSTRAINT [enofilo_favorito_foreign]
GO
ALTER TABLE [dbo].[Enofilo]  WITH CHECK ADD  CONSTRAINT [enofilo_usuario_foreign] FOREIGN KEY([usuario])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[Enofilo] CHECK CONSTRAINT [enofilo_usuario_foreign]
GO
ALTER TABLE [dbo].[Varietal]  WITH CHECK ADD  CONSTRAINT [varietal_tipouva_foreign] FOREIGN KEY([tipoUva])
REFERENCES [dbo].[TipoUva] ([id])
GO
ALTER TABLE [dbo].[Varietal] CHECK CONSTRAINT [varietal_tipouva_foreign]
GO
ALTER TABLE [dbo].[Vino]  WITH CHECK ADD  CONSTRAINT [vino_bodega_foreign] FOREIGN KEY([bodega])
REFERENCES [dbo].[Bodega] ([id])
GO
ALTER TABLE [dbo].[Vino] CHECK CONSTRAINT [vino_bodega_foreign]
GO
ALTER TABLE [dbo].[Vino]  WITH CHECK ADD  CONSTRAINT [vino_maridaje_foreign] FOREIGN KEY([maridaje])
REFERENCES [dbo].[Maridaje] ([id])
GO
ALTER TABLE [dbo].[Vino] CHECK CONSTRAINT [vino_maridaje_foreign]
GO
ALTER TABLE [dbo].[Vino]  WITH CHECK ADD  CONSTRAINT [vino_varietal_foreign] FOREIGN KEY([varietal])
REFERENCES [dbo].[Varietal] ([id])
GO
ALTER TABLE [dbo].[Vino] CHECK CONSTRAINT [vino_varietal_foreign]
GO
USE [master]
GO
